<iframe class="gameIframe" id='innerIframe' src="/game.html" width="100%" height="100%" scrolling="no"></iframe>

{{#if inFullScreen}}
  <div class="close-container">
    <a href="" id="close-button" {{action "quitFullscreen"}} class="btn btn-default btn-close">{{fa-icon "close"}}</a>
  </div>
{{else}}
  <div class="close-container">
    <a href="" id="close-button" {{action "enterFullscreen"}} class="btn btn-default btn-close"> {{p-icon icon="resize-full"}} </a>
  </div>
{{/if}}
