{{#if isMobile}}
  {{#link-to "mobile.runModal" model}}
    <div class={{image_class}}></div>

    <div class="x-example-preview-title">
      {{model.title}}
    </div>
  {{/link-to}}
{{else}}
  {{#link-to "examples.runModal" model}}
    <div class={{image_class}}></div>

    <div class="x-example-preview-title">
      {{model.title}}
    </div>
  {{/link-to}}
{{/if}}
