{{#if project}}

  {{#if error}}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {{else}}
    <div class="canvas-container">
      {{x-canvas tagName=""}}
    </div>
  {{/if}}

  {{#if areConsoleMessages}}

    <div class="console-panel">
      {{#each semanticDiagnostics as |message|}}
        <div class="console-warning-line">{{message}}</div>
      {{/each}}

      {{#each syntaxDiagnostics as |message|}}
        <div class="console-error-line">{{message}}</div>
      {{/each}}
    </div>

  {{/if}}

  {{yield}}

{{else}}
  Se necesita un proyecto.
{{/if}}
