{{#if project}}

{{#if errors}}

  {{#each errors as |error_message|}}
    <div class="uk-alert uk-alert-danger">
      {{error_message}}
    </div>
  {{/each}}
{{else}}
  <div class="canvas-container">
    {{x-canvas tagName=""}}
  </div>
{{/if}}

{{yield}}

{{else}}
Se necesita un proyecto.
{{/if}}
