{{#if project}}

  {{#if areAnyConsoleMessage}}

    <div class="overlay-messages">
      {{#if error}}
        <div class="alert alert-danger">
          {{error}}
        </div>
      {{/if}}

      {{#if areConsoleMessages}}
        <div class="console-panel">
          {{#each semanticDiagnostics as |message|}}
            <div class="alert alert-warning">{{message}}</div>
          {{/each}}

          {{#each syntaxDiagnostics as |message|}}
            <div class="console-error-line">{{message}}</div>
          {{/each}}
        </div>
      {{/if}}
    </div>

  {{/if}}

  <p class="loading-p">
    {{x-spinner}}
  </p>

  {{x-canvas pilas=pilas onReady="onReady"}}

{{else}}
  <p>Se necesita un proyecto.</p>
{{/if}}
