<header class="toolbar toolbar-header">

  <div class="toolbar-actions">

    <div class="btn-group">
      {{#link-to "index" tagName="button" class="btn btn-default"}} {{p-icon icon="home"}} {{/link-to}}
      {{#link-to "project" tagName="button" class="btn btn-default"}} {{p-icon icon="bag"}} {{/link-to}}
    </div>

  </div>

</header>



<div class="window-content">
  <div class="pane padding">
    <p>
      Ejemplo: {{model.title}} (id: {{model.id}})
    </p>

    <p>
      {{#link-to "examples.index" tagName="button" class="btn btn-default"}}Volver{{/link-to}}
    </p>

    <div class="example-iframe-container">
      {{x-result project=model}}
    </div>


    <pre class="example-code">{{model.code}}</pre>

  </div>
</div>
