<div class="edit-contenedor">

  <div class="edit-fila padding">
    <div>
      {{x-title title=model.title}}
    </div>

    <div class="button-container">
      {{x-back to="project"}}

      <button disabled={{itsSaved}} type="button" {{action "save" model}} class="btn btn-primary">Guardar</button>
      {{#link-to "edit.previewModal" model tagName="button" class="btn btn-default"}}Previsualizar{{/link-to}}

      <button {{action "reload" model}} class="btn btn-default"> Ejecutar </button>

      <div class="float-right">
        <div class="btn-group">
          {{#x-pushbutton state=leftPanelVisible tooltip_activate="mostar información" tooltip_deactivate="ocultar información"}} {{p-icon icon="info"}} {{/x-pushbutton}}
          {{#x-pushbutton state=rightPanelVisible tooltip_activate="mostrar juego" tooltip_deactivate="ocultar juego"}} {{p-icon icon="window"}} {{/x-pushbutton}}
          {{#x-pushbutton state=editorPanelVisible tooltip_activate="mostar editor" tooltip_deactivate="ocultar editor"}} {{p-icon icon="doc-text"}} {{/x-pushbutton}}
        </div>
      </div>

    </div>
  </div>


  <div class="edit-fila-triple">

    {{#if leftPanelVisible}}
      <div class="edit-panel-izquierdo">
        uno
      </div>
    {{/if}}

    {{#if rightPanelVisible}}
      <div class="edit-panel-derecho">
        panel2
      </div>
    {{/if}}

    {{#if editorPanelVisible}}
      <div class="edit-panel-principal">
        panel
      </div>
    {{/if}}

  </div>

  <div class="edit-principal">

    {{#if leftPanelVisible}}
      <div class="edit-panel-izquierdo">
        IZQ (200px)
      </div>
    {{/if}}

    {{#if rightPanelVisible}}
      <div class="edit-panel-derecho">
        <p class="loading-p">
            {{x-spinner}}
        </p>
        {{x-result project=model actionReceiver=xResultHandler}}
        {{js-console}}
      </div>
    {{/if}}

    {{#if editorPanelVisible}}
      <div class="edit-panel-principal">
        {{x-editor value=model.code}}
      </div>
    {{/if}}

    {{#if allPanelsInvisible}}
      <div class="allPanelsInvisiblePanel">
        <p>Hey, ningún panel está visible....</p>
      </div>
    {{/if}}

  </div>

  <div class="edit-fila center">
    pie
  </div>
</div>

{{outlet}}
