<header class="toolbar toolbar-header">

  <div class="toolbar-actions">

    <div class="btn-group">
      {{#link-to "index" tagName="button" class="btn btn-default"}} {{p-icon icon="home"}} {{/link-to}}
      {{#link-to "project" tagName="button" class="btn btn-default"}} {{p-icon icon="bag"}} {{/link-to}}
    </div>

    {{x-title title=model.title}}

    <div class="btn-group pull-right">
      {{#x-pushbutton state=leftPanelVisible tooltip_activate="mostar información" tooltip_deactivate="ocultar información"}} {{p-icon icon="info"}} {{/x-pushbutton}}
      {{#x-pushbutton state=rightPanelVisible tooltip_activate="mostrar juego" tooltip_deactivate="ocultar juego"}} {{p-icon icon="window"}} {{/x-pushbutton}}
      {{#x-pushbutton state=editorPanelVisible tooltip_activate="mostar editor" tooltip_deactivate="ocultar editor"}} {{p-icon icon="doc-text"}} {{/x-pushbutton}}
    </div>

  </div>

</header>



<div class="window-content">
  <div class="pane">

    <div class="edit-contenedor">

      <div class="edit-principal">

        {{#if leftPanelVisible}}
          <div class="edit-panel-izquierdo">
            Panel lateral auxiliar.
          </div>
        {{/if}}

        {{#if rightPanelVisible}}
          <div class="edit-panel-derecho">

            <div class="toolbar-actions">
              <button {{action "reload" model}} class="btn btn-default pull-right"> {{p-icon icon="arrows-ccw"}} </button>
              {{#link-to "edit.previewModal" model tagName="button" class="btn btn-default pull-right"}} {{p-icon icon="resize-full"}} {{/link-to}}
            </div>

            <p class="loading-p">
              {{x-spinner}}
            </p>

            {{x-result project=model actionReceiver=xResultHandler}}
            {{js-console eval_function=custom_eval_function autocomplete=custom_autocomplete_function}}
          </div>
        {{/if}}

        {{#if editorPanelVisible}}

          <div class="edit-panel-principal">

            <div class="toolbar-actions toolbar-fix">
              {{#if itsSaved}}
                <button class="btn btn-default">Guardar</button>
              {{else}}
                <button {{action "save" model}} class="btn btn-primary">Guardar</button>
              {{/if}}
            </div>

            {{x-editor value=model.code}}
          </div>

        {{/if}}

        {{#if allPanelsInvisible}}
          <div class="allPanelsInvisiblePanel">
            <p>Hey, ningún panel está visible....</p>
          </div>
        {{/if}}

      </div>

      <div class="edit-fila center">
        pie
      </div>
    </div>

    {{outlet}}

  </div>
</div>
