{{#x-header}}
  <div class="pull-left">
    <div class="uk-button-group">
      {{#link-to "index" tagName="button" class="uk-button uk-button-mini"}} {{fa-icon "home"}} {{/link-to}}
      {{#link-to "project" tagName="button" class="uk-button uk-button-mini"}} {{fa-icon "briefcase"}} {{/link-to}}
    </div>
  </div>


  {{x-title title=model.title}}

  <div class="pull-right">
    <div class="uk-button-group">

      {{#x-pushbutton state=leftPanelVisible}} {{fa-icon "info"}} {{/x-pushbutton}}
      {{#x-pushbutton state=centerPanelVisible}} {{fa-icon "gamepad"}} {{/x-pushbutton}}
      {{#x-pushbutton state=editorPanelVisible}} {{fa-icon "align-left"}} {{/x-pushbutton}}

    </div>
  </div>
{{/x-header}}

<div class="over"></div>

<div class="window-content">
  <div class="pane">

    <div class="edit-contenedor">

      <div class="edit-principal">

        {{#if leftPanelVisible}}

          <div class="edit-panel-left">
            {{x-select selected=currentOption options=options}}
            {{component (concat "x-section" currentOption)}}
          </div>

        {{/if}}

        {{pilas-spliter left=".edit-panel-left" right=".edit-panel-center"}}

        {{#if centerPanelVisible}}

          <div class="edit-panel-center">

            <div class="toolbar-actions">
              <div class="btn-group pull-right">
                {{#if loadingPilas}}
                  <button {{action "reload" model}} disabled class="uk-button uk-button-small"> {{fa-icon "refresh"}} </button>
                {{else}}
                  <button {{action "reload" model}} class="uk-button uk-button-small"> {{fa-icon "refresh"}} </button>
                {{/if}}

              </div>
            </div>

            {{x-result pilas=pilasService onReady="onReady" project=model}}

            <div class="toolbar-actions">
              <div class="btn-group">
                {{#x-pushbutton state=showConsole position="right"}} {{fa-icon "terminal"}} Intérprete {{/x-pushbutton}}
              </div>

              <div class="btn-group btn-group pull-right">
                <!-- botones de depuración -->
              </div>
            </div>

            {{#if showConsole}}
              {{js-console eval_function=custom_eval_function autocomplete=custom_autocomplete_function}}
            {{/if}}

          </div>
        {{/if}}

        {{pilas-spliter left=".edit-panel-center" right=".edit-panel-editor"}}

        {{#if editorPanelVisible}}

          <div class="edit-panel-editor">

            <div class="toolbar-actions">

                {{#if loadingPilas}}
                  <button disabled class="uk-button uk-button-small">{{fa-icon "refresh" spin=true}} Ejecutar</button>
                {{else}}
                  <button {{action "saveAndReload" model}} class="uk-button uk-button-small">{{fa-icon "play"}} Ejecutar</button>
                {{/if}}

              {{#if itsSaved}}
              {{else}}
              {{/if}}

              <div class="pull-right">
                {{#link-to "edit.settingsModal" model tagName="button" class="uk-button uk-button-small"}} {{fa-icon "cog"}} {{/link-to}}
              </div>

            </div>

            {{x-editor value=model.code}}
          </div>

        {{/if}}

        {{#if allPanelsInvisible}}
          <div class="allPanelsInvisiblePanel">
            <p>&nbsp;</p>
          </div>
        {{/if}}

      </div>

    </div>

    {{outlet}}

  </div>
</div>
