{{#x-header}}
  <div class="btn-group">
    {{#link-to "index" tagName="button" class="btn btn-default"}} {{x-icon icon="home"}} {{/link-to}}
    {{#link-to "project" tagName="button" class="btn btn-default"}} {{x-icon icon="bag"}} {{/link-to}}
  </div>

  {{x-title title=model.title}}

  <div class="btn-group pull-right">
    {{#x-pushbutton state=leftPanelVisible}} {{x-icon icon="info"}} {{/x-pushbutton}}
    {{#x-pushbutton state=centerPanelVisible}} {{x-icon icon="window"}} {{/x-pushbutton}}
    {{#x-pushbutton state=editorPanelVisible}} {{x-icon icon="doc-text"}} {{/x-pushbutton}}
  </div>
{{/x-header}}


<div class="window-content">
  <div class="pane">

    <div class="edit-contenedor">

      <div class="edit-principal">

        {{#if leftPanelVisible}}
          <div class="edit-panel-left">
            <div class="toolbar-actions">
              <div class="btn-group">
                {{#x-pushbutton state=showInspector}} Inspector {{/x-pushbutton}}
                {{#x-pushbutton state=showManual}} Manual {{/x-pushbutton}}
              </div>
            </div>


            {{#if showManual}}
              {{x-manual}}
            {{else}}
              <h4>Inspector</h4>

              <p>Cantidad de actores: {{pilasService.actorCounter}}</p>
            {{/if}}

          </div>
        {{/if}}

        {{#if centerPanelVisible}}
          <div class="edit-panel-center">

            <div class="toolbar-actions">
              <div class="btn-group pull-right">
                <button {{action "reload" model}} class="btn btn-default pull-right"> {{x-icon icon="arrows-ccw"}} </button>
              </div>
            </div>

            {{x-result pilas=pilasService onReady="onReady" project=model}}

            <div class="toolbar-actions">
              <div class="btn-group">
                {{#x-pushbutton state=showConsole position="right"}} {{x-icon icon="window"}} {{/x-pushbutton}}
                <button class="btn btn-default"> {{x-icon icon="ccw"}} </button>
              </div>

              <div class="btn-group btn-group pull-right">
                <!-- botones de depuración -->
              </div>
            </div>

            {{#if showConsole}}
              {{js-console eval_function=custom_eval_function autocomplete=custom_autocomplete_function}}
            {{/if}}

          </div>
        {{/if}}

        {{#if editorPanelVisible}}

          <div class="edit-panel-editor">

            <div class="toolbar-actions">

                <button {{action "saveAndReload" model}} class="btn-default btn">{{x-icon icon="play"}} Ejecutar</button>

                {{#if loadingPilas}}
                  <span>Cargando ...</span>
                {{else}}
                  <span class="text-white">Cargando ...</span>
                {{/if}}

              {{#if itsSaved}}
              {{else}}
              {{/if}}

              <div class="pull-right">
                {{#link-to "edit.settingsModal" model tagName="button" class="btn btn-default"}} {{x-icon icon="cog"}} {{/link-to}}
              </div>

            </div>

            {{x-editor value=model.code}}
          </div>

        {{/if}}

        {{#if allPanelsInvisible}}
          <div class="allPanelsInvisiblePanel">
            <p>&nbsp;</p>
          </div>
        {{/if}}

      </div>

    </div>

    {{outlet}}

  </div>
</div>
