{{#x-header}}

    <div class="btn-group">
      {{#link-to "index" tagName="button" class="btn btn-default"}} {{x-icon icon="home"}} {{/link-to}}
      {{#link-to "project" tagName="button" class="btn btn-default"}} {{x-icon icon="bag"}} {{/link-to}}
    </div>

    <div class="btn-group pull-right">
      {{#link-to "index.about" tagName="button" class="btn btn-default"}}Acerca de ...{{/link-to}}
    </div>

{{/x-header}}



<div class="window-content">
  <div class="pane">

    <div class="padding text-center">

    <div class="img pilas_logo_128"></div>

    <p>¡Hola, te damos a bienvenida a pilas-editor!</p>

    <div>
      {{x-mainButton icon="add_folder" text="Proyectos" route="project"}}
      {{x-mainButton icon="user_manual" text="Ver el manual" route="manual"}}
    </div>

    <div>
      {{x-mainButton icon="settings" text="Configuración" route="index.setup"}}
      {{x-mainButton icon="filled_box" text="Ejemplos" route="examples"}}
    </div>

    {{outlet}}

    {{#if electron.electronVersion}}
      <p>Version de electron: {{electron.electronVersion}}</p>
    {{/if}}

    </div>

  </div>
</div>
