{{#x-header}}

    <div class="btn-group">
      {{#link-to "index" tagName="button" class="btn btn-default"}} {{p-icon icon="home"}} {{/link-to}}
      {{#link-to "project" tagName="button" class="btn btn-default"}} {{p-icon icon="bag"}} {{/link-to}}
    </div>

{{/x-header}}



<div class="window-content">
  <div class="pane">

    <div class="padding">

      <div class="pilas_logo_128"></div>

    <p>¡Hola, te damos a bienvenida a pilas-editor!</p>


    {{x-mainButton icon="add_folder" text="Proyectos" route="project"}}
    {{x-mainButton icon="user_manual" text="Ver el manual" route="manual"}}
    {{x-mainButton icon="info_squared" text="Acerca de ..." route="index.about"}}
    {{x-mainButton icon="settings" text="Configuración" route="index.setup"}}
    {{x-mainButton icon="filled_box" text="Ejemplos" route="examples"}}

    {{outlet}}

    {{#if electron.electronVersion}}
      <p>Version de electron: {{electron.electronVersion}}</p>
    {{/if}}

    </div>

  </div>
</div>
