<div class="padding">

<p>¡Hola, te damos a bienvenida a demo-editor!</p>

{{#link-to "project" tagName="button" class="btn btn-default"}}{{p-icon icon="bag"}} &nbsp; Proyectos{{/link-to}}
{{#link-to "index.about" tagName="button" class="btn btn-default"}}{{p-icon icon="star-empty"}} &nbsp; Acerca de ...{{/link-to}}
{{#link-to "index.setup" tagName="button" class="btn btn-default"}}{{p-icon icon="cog"}} &nbsp; Preferencias{{/link-to}}

{{outlet}}

{{#if electron.electronVersion}}
  <p>Version de electron: {{electron.electronVersion}}</p>
{{/if}}

</div>
