<h2>Ejecutando el proyecto: {{model.title}}  <small>{{#link-to "edit" model}}Abrir en el editor{{/link-to}}</small></h2>

{{x-back}}

<h3>Título {{model.title}}</h3>

<div class="button-container">
  <button type="button" {{action "run" model}} class="uk-button uk-button-success">Ejecutar</button>
</div>

<div class="">
  {{x-canvas onLoad="onLoadCanvas"}}

</div>

{{outlet}}
